body {
  font-family: Arial, sans-serif;
  background-color:grey;
  margin: 0;
  padding: 0;
  font-size: 19px;
}

.container {
  width: 800px;
  margin: 40px auto;
  background:whitesmoke ;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box ;
  
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

.edit-btn {
  background: green ;
}


.delete-btn {
  background: red;
}
